* {
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.background-cover {
  height: 150px;
  width: 100vw;
  position: absolute;
  margin-left: -15px;
  background-color: black;
  opacity: 0.3;
}

.overlay {
  z-index: 100;
}

.title {
  padding: 20px 0 20px 0;
  text-align: center;
  color: white;
  width: 600px;
  position: relative;
  font-family: "Century Gothic";
  margin-right: -60px;
  margin-top: 8px;
  font-size: 35px;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.main-header {
  background: url(../images/columnsCropped.png);
  background-size: cover;
  height: 150px;
}

.logo {
  position: relative;
  margin-right: -60px;
  height: 60px;
  width: 60px;
}

.header-col {
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-pack: center;
  width: 100vw;
}

.navigation {
  height: auto;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 13px 0 0 0;
  border-top: 1px solid #ffffff;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}

.navigation ul li {
  padding: 0;
  margin: 0px 0px 0 0px;
  display: inline;
  box-sizing: border-box;
  text-align: middle;
}

.navigation ul li a {
  padding: 11px 40px 15px 40px;
  width: 100%;
  height: 63px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  line-height: 20px;
  font-family: "Century Gothic";
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.navigation ul li a:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
}

.active a {
  border-top: 5px solid #ffffff;
}

.nav-col {
  width: 739px;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}

.menu-col {
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-pack: center;
  width: 100vw;
}

.menu-icon {
  color: white;
  margin-top: -6px;
}

.menu-text {
  font-size: 20px;
  color: white;
  font-family: "Century Gothic";
  padding: 9px 0 0px 5px;
}

.mobile-nav {
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 300;
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}

.clear-icon {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px 0 0;
}

.mobile-nav ul {
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}

.mobile-nav ul li {
  padding: 20px 0 20px 0;
  margin: 00px 0px 00px 0px;
  display: inline;
  box-sizing: border-box;
  text-align: middle;
}

.mobile-nav ul li a {
  width: 100%;
  height: 63px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  line-height: 20px;
  font-family: "Century Gothic";
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.news-title {
  width: 100%;
  text-align: center;
  padding: 40px 0 15px 0;
  font-family: Pavanam;
}

hr {
  width: 100%;
}

.news-title-row {
  width: 100%;
}

.content-container {
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}

.info-container {
  padding: 20px 0 20px 0;
  width: 900px;
  min-width: 900px;
  text-align: justify;
}

.col-md-4 {
  padding: 10px 0 10px 0;
}

.bold {
  font-weight: bold;
}

.info-container p {
  font-family: Pavanam;
  font-size: 18px;
}

.practice-area-container {
  padding: 00px 0 00px 0;
  max-width: 900px;
  margin: auto;
}

.practice-title {
  width: 100%;
  font-family: Pavanam;
  font-size: 25px;
  font-weight: bold;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  padding: 5px 0 0 0;
}

.color {
  color: orange;
  border-top: 2px solid orange;
}

.info {
  font-family: Pavanam;
  font-size: 15px;
}

.footer-wrapper {
  width: 400px;
  height: 250px;
  padding: 0;
}

.footer-container {
  height: 350px;
  width: 100vw;
  margin: 0 0 0 -30px !important;
  padding: 0 0 20px 0;
  overflow-x: hidden;
  z-index: 100;
  background-color: white;
}

.footer-container .col-md-6 {
  height: auto;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
  padding-right: 0;
}

.footer-title {
  font-size: 17px;
  width: 100%;
  font-family: Pavanam;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.underline {
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.footer-content {
  width: auto;
  float: left;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-pack: center;
}

.address-container, .phone-container {
  margin-top: 15px;
  width: 400px;
  float: left;
  -webkit-flex-direction: row;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.address-container p, .phone-container p {
  font-size: 15px;
  font-family: Pavanam;
  float: left;
  margin-left: 5px;
}

.address-container img {
  height: 30px;
  width: 20px;
  margin: 0 10px 15px 0;
  float: left;
}

.phone-container img {
  height: 20px;
  width: 20px;
  float: left;
  margin: 0 10px 15px 0;
}

.phone-container p {
  font-weight: bold;
}

.list-container {
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-justify-content: center;
  -ms-align-items: center;
  -ms-flex-pack: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-pack: center;
  width: 100%;
}

.list-container ul {
  margin: 10px 30px 0 0;
}

.list-container ul li {
  list-style-type: none;
  line-height: 30px;
  font-size: 15px;
  font-family: Pavanam;
}

.tag-container {
  height: auto;
  width: 100vw;
  margin: 0 0 0 -30px !important;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

.tag {
  width: 100%;
  margin: auto;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 10px 0 10px 0;
  font-family: Pavanam;
}
.tag-link {
  color: deepskyblue;
}
.tag-link:hover {
  color: deepskyblue;
}
@media screen and (max-width: 804px) {
  .navigation ul li a {
    font-size: 10px;
  }
  .navigation ul {
    padding-top: 9px;
  }
  .footer-wrapper {
    width: 300px
  }
  .footer-container {
    height: auto;
    padding-bottom: 00px;
    overflow-y: visible;
  }
}

@media screen and (max-width: 766px) {
  .footer-container {
    height: 650px;
    padding-bottom: 0;
  }
  .footer-wrapper {
    margin-top: -20px;
    height: auto;
  }
  .footer-wrapper-2 {
    margin-top: -100px;
  }
}

@media screen and (max-width: 414px) {
  .title {
    font-size: 20px;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .navigation ul {
    display: none;
  }
  .info-container {
    width: 350px !important;
    min-width: 350px !important;
    text-align: justify;
  }
}

@media screen and (min-width: 500px) {
  .practice-area-container {
    padding: 20px 0 20px 0;
    max-width: 900px;
    margin: auto;
  }
  .col-md-4 {
    max-width: 300px;
    min-width: 300px;
  }
  .tag {
    font-size: 12px;
  }
  .mobile-nav {
    display: none;
  }
  .menu-col {
    display: none;
  }
  .background-cover {
    height: 300px;
  }
  .main-header {
    height: 300px;
  }
  .info-container {
    min-width: 900px;
    max-width: 900px;
  }
}
